<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Регистрация</title>

    <link rel="stylesheet" href="./static/libs/FontAwesome/css/all.min.css">

    <link rel="stylesheet" href="./static/style/font.css">
    <link rel="stylesheet" href="./static/style/vars.css">
    <link rel="stylesheet" href="./static/style/normalize.css">
    <link rel="stylesheet" href="./static/style/wrapper.css">
</head>
<body>

<main id="wrapper" class="wrapper">

    <section class="auth__section">

        <form method="POST" action="" class="auth__form">

                <span>
                    <img class="img__logo" src="./static/image/logo.png" alt="logo">
                </span>

            <h1>Авторизация</h1>

            <span>Ваша электронная почта будет использоваться  для входа в аккаунт <br> Пароль придёт на почту</span>

            <label class="auth__label" for="email">
                <i class="fa-light fa-at"></i>
                <input class="auth__input" type="email" name="email" id="email" placeholder="Ваша электронная почта">
            </label>

            <label class="auth__label" for="password">
                <i class="fa-light fa-lock"></i>
                <input class="auth__input" type="password" name="password" id="password" placeholder="Ваш пароль">
            </label>

            <button type="button">Войти</button>

        </form>

    </section>

</main>

</body>
</html>
